In [15]:
import numpy as np
import pandas as pd

In [16]:
CustDemog=pd.read_csv("CustomerDemographic.csv")
CustAdd=pd.read_csv("CustomerAddress.csv")
CustDemog=pd.read_csv("CustomerDemographic.csv")

In [18]:
CustDemog.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,10/12/1953,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,12/16/1980,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1/20/1954,Recruiting Manager,Property,Mass Customer,N,1-Feb,Yes,15.0
3,4,Talbot,NaN,Male,33,10/3/1961,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,5/13/1977,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [22]:
CustDemog.gender.unique()

array(['F', 'Male', 'Female', 'U', 'Femal', 'M'], dtype=object)