import numpy as np
import pandas as pd

In [159]:
CustDemog=pd.read_csv("CustomerDemographic.csv")
CustAdd=pd.read_csv("CustomerAddress.csv")
CustDemog=pd.read_csv("CustomerDemographic.csv")

In [160]:
CustDemog.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,10/12/1953,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,12/16/1980,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1/20/1954,Recruiting Manager,Property,Mass Customer,N,1-Feb,Yes,15.0
3,4,Talbot,NaN,Male,33,10/3/1961,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,5/13/1977,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [161]:
pd.isnull(CustDemog["customer_id"]).sum()

0

In [162]:
CustDemog["customer_id"].unique()

array([   1,    2,    3, ..., 3998, 3999, 4000], dtype=int64)

In [163]:
pd.isnull(CustDemog["first_name"]).sum()

0

In [164]:
CustDemog["first_name"].unique()

array(['Laraine', 'Eli', 'Arlin', ..., 'Stephie', 'Rusty', 'Sarene'],
      dtype=object)

In [165]:
pd.isnull(CustDemog["last_name"]).sum()

125

In [166]:
null_inCustDemog=CustDemog[CustDemog["last_name"].isnull()].index

In [167]:
lastname_nan=[]
for i in null_inCustDemog:
    lastname_nan.append(CustDemog["first_name"].iloc[i])

In [168]:
for i in lastname_nan:
    c=c.append(CustDemog[CustDemog["first_name"]==i])

In [171]:
CustDemog.gender.unique()

array(['F', 'Male', 'Female', 'U', 'Femal', 'M'], dtype=object)

In [172]:
CustDemog.groupby(["gender"])["gender"].count()

gender
F            1
Femal        1
Female    2037
M            1
Male      1872
U           88
Name: gender, dtype: int64

In [173]:
CustDemog["gender"].replace('F', "Female",inplace=True)
CustDemog["gender"].replace('M', "Male",inplace=True)
CustDemog["gender"].replace('U', "Undefined",inplace=True)
CustDemog["gender"].replace('Femal', "Undefined",inplace=True)

In [174]:
CustDemog["gender"].unique()

array(['Female', 'Male', 'Undefined'], dtype=object)

In [175]:
CustDemog.groupby(["gender"])["gender"].count()

gender
Female       2038
Male         1873
Undefined      89
Name: gender, dtype: int64

In [176]:
CustDemog.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,Female,93,10/12/1953,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,12/16/1980,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1/20/1954,Recruiting Manager,Property,Mass Customer,N,1-Feb,Yes,15.0
3,4,Talbot,NaN,Male,33,10/3/1961,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,5/13/1977,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [92]:
CustDemog["past_3_years_bike_related_purchases"].unique()

array([93, 81, 61, 33, 56, 35,  6, 31, 97, 49, 99, 58, 38, 85, 91, 57, 79,
       76, 72, 74, 43, 55, 12, 37,  5, 62, 18,  3, 17, 44, 59, 40, 46, 64,
       24, 63, 98, 51, 68, 22,  2, 48, 87, 26, 60, 47, 73, 21, 67, 16, 78,
       30, 94, 28, 20, 11,  1, 75, 41, 69, 19, 80, 83, 25, 54,  4, 23, 65,
       88, 10, 77,  9, 82, 27, 53, 32, 34, 71, 36, 90, 95,  8, 39,  7, 42,
       13, 45, 50, 14, 89, 84, 96, 70, 66,  0, 15, 86, 92, 29, 52],
      dtype=int64)

In [177]:
CustDemog["DOB"].unique()

array(['10/12/1953', '12/16/1980', '1/20/1954', ..., '12/12/1975',
       '7/13/2001', '11/5/1991'], dtype=object)

In [178]:
CustDemog.DOB=pd.to_datetime(CustDemog.DOB,format='%m/%d/%Y')
CustDemog.DOB.dtypes

ValueError: time data '1843-12-21' does not match format '%m/%d/%Y' (match)